@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000031}}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000039}}
body {
  background-image: url("../assets/cloud-bck.jpg");
  background-repeat: no-repeat;
  color: #3b3628;
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  font-size: 14px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000039}}
    body {
      padding: 0 20px 0 20px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\0000323}}
img {
  height: auto;
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\0000331}}
#pagin {
  margin: 0 auto;
  list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\0000335}}
  #pagin li {
    display: inline-block;
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 100%;
    padding: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\0000342}}
    #pagin li a {
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: #c5c5c5;
      color: #fff;
      text-align: center;
      font-size: 10px;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\0000355}}
  #pagin li:hover {
    border: 1px solid #c8427b; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\0000358}}
    #pagin li:hover a {
      background-color: #c8427b; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\0000368}}
h1 {
  font-size: 42px;
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
  line-height: 1.1;
  color: #1e3043; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\0000375}}
  h1 span {
    font-size: 42px;
    margin-bottom: 30px;
    font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\0000382}}
h2 {
  color: #1e3043;
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
  line-height: 1.1;
  font-size: 34px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\0000389}}
  h2 span {
    font-size: 26px;
    margin: 10px 0;
    line-height: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\0000396}}
h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #1e3043;
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003105}}
  h3 span {
    font-weight: 600;
    line-height: 1.1;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003114}}
p {
  margin-bottom: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003120}}
.advantage {
  display: grid;
  grid-template-columns: 170px 170px;
  grid-gap: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003125}}
  .advantage-container {
    margin: 40px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003129}}
  .advantage-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003137}}
  .advantage-paragraph {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 55px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    line-height: 1.2;
    margin-bottom: 0;
    font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003150}}
.link-white {
  color: #fff;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003155}}
.link-white:hover {
  text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003159}}
.pink-link {
  color: #c8427b;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003164}}
.pink-link:hover {
  text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003168}}
.blue_link {
  color: #1e3043;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003173}}
.blue_link:hover {
  text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003180}}
.header {
  height: 140px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003183}}
  .header-main_navigation_container {
    width: 1280px;
    position: relative;
    margin: 0 auto;
    padding: 50px 0 17px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003192}}
  .header-main_navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 11px 0 10px 36px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003198}}
  .header-main_navigation_item {
    margin: 0 5px;
    padding: 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003203}}
  .header-main_navigation_item:hover {
    margin-top: -20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003209}}
  .header-main_navigation_item:hover .header-main_navigation_description {
    opacity: 0.5; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003213}}
  .header-main_navigation_item:hover .header-item_navigation_container {
    display: block;
    position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003218}}
  .header-main_navigation_link {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    line-height: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003225}}
  .header-main_navigation_description {
    opacity: 0;
    display: block;
    text-decoration: none;
    font-size: 11px;
    line-height: 1.4;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003235}}
  .header-logo img {
    width: 200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003240}}
  .header-right {
    padding-top: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003247}}
  .header-phone {
    background-image: url("../assets/ic-phone.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-size: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003255}}
  .header-search {
    background-image: url("../assets/ic-search.svg");
    background-repeat: no-repeat;
    width: 18px;
    margin-left: 25px;
    height: 18px;
    background-size: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003264}}
  .header-login {
    background-image: url("../assets/ic-login.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    margin-left: 25px;
    width: 20px;
    height: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003273}}
  .header-cart {
    background-image: url("../assets/ic-cart.svg");
    background-repeat: no-repeat;
    background-size: 23px 19px;
    margin-left: 25px;
    width: 23px;
    height: 22px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003282}}
  .header-item_navigation_container {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003286}}
  .header-item_navigation_container:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 15px;
    border-style: solid;
    border-width: 0 12px 13px 12px;
    border-color: transparent transparent #fff transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003296}}
  .header-item_navigation_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    margin-top: 28px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003302}}
  .header-item_navigation {
    height: auto;
    list-style: none;
    border-right: 1px solid #dee2ec; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003307}}
    .header-item_navigation li {
      width: 270px;
      border-bottom: 1px solid #dee2ec;
      padding: 10px 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003312}}
      .header-item_navigation li a {
        text-decoration: none;
        color: #3b3628;
        font-size: 16px;
        line-height: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003320}}
    .header-item_navigation li:hover {
      background: #c8427b; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003323}}
      .header-item_navigation li:hover a {
        color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003329}}
  .header-item_navigation_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 60px 25px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003334}}
  .header-item_navigation_content_box {
    margin: 10px;
    width: 240px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003339}}
  .header-box_item_link {
    display: block;
    min-height: 50px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d8d8d8; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003345}}
    .header-box_item_link a {
      color: #1e3043;
      font-family: 'Ruda', sans-serif;
      font-weight: 700;
      font-size: 14px;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003353}}
    .header-box_item_link a:hover {
      text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003358}}
  .header-box_more_link {
    font-size: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003363}}
.last {
  border-bottom: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003369}}
.slider {
  width: 1240px;
  margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003373}}
  .slider-box {
    width: 1240px;
    margin: 0 auto;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003379}}
  .slider-box:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(191.87deg, rgba(0, 0, 0, 0) 50%, #000 100%); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003389}}
  .slider-image {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003393}}
  .slider-box_description {
    display: table;
    position: absolute;
    bottom: 10px;
    height: 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003400}}
  .slider-box_header {
    padding-left: 205px;
    line-height: 0.9;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.42); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003408}}
  .slider-description_link {
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 26px;
    max-width: 1200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003416}}
  .slider-box_button {
    position: absolute;
    top: 25px;
    left: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003422}}
  .slider-link_button {
    color: #fff;
    background-color: #c8427b;
    outline: 7px solid #c8427b;
    border: 1px solid #d55f91;
    padding: 10px 50px;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    font-weight: 500; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003437}}
.video {
  width: 1240px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003442}}
  .video-description {
    max-width: 560px;
    margin-left: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003447}}
  .video-header {
    margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003451}}
  .video-header_link {
    color: #1e3043;
    text-decoration: none;
    font-size: 42px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003457}}
  .video-paragraph_link {
    color: #1e3043;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003462}}
  .video-paragraph {
    font-size: 18px;
    color: #8c756a;
    line-height: 1.9; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003468}}
  .video-paragraph_link:hover {
    text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003476}}
.products_box {
  margin-bottom: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003479}}
  .products_box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003484}}
  .products_box-header {
    margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003488}}
  .products_box-box_images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003494}}
  .products_box-link_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003499}}
  .products_box-link {
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #c8427b;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003512}}
  .products_box-link:hover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: #c8427b; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003518}}
  .products_box-paragraph {
    font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003521}}
    .products_box-paragraph span {
      font-family: 'Ruda', sans-serif;
      font-size: 13px;
      font-weight: 900; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003528}}
  .products_box-box_1 {
    width: 480px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003532}}
  .products_box-box_2 {
    width: 750px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003537}}
.product-link {
  width: 140px;
  margin-right: 15px;
  background-color: #c8427b; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003546}}
.product_container {
  margin: 90px 0 40px 0;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003552}}
  .product_container-pagin {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003556}}
  .product_container-product {
    width: 300px;
    border: 1px solid transparent;
    background-color: #f4f4f4; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003562}}
  .product_container-description {
    margin: 4px 10px 20px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003566}}
  .product_container-product:hover {
    border: 1px solid #1e3043;
    background-color: #dee2eb; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003571}}
  .product_container-image {
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003575}}
  .product_container-link_container {
    display: block;
    min-height: 44px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003580}}
  .product_container-link {
    margin-top: 5px;
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.2; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003588}}
  .product_container-paragraph {
    min-height: 61px;
    margin: 5px 0;
    padding-bottom: 6px;
    color: #687584;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid #dee2eb; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003602}}
.bottom_text {
  background-image: url("../assets/oval-graphic.svg");
  background-position: center top; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003606}}
  .bottom_text-container {
    max-width: 940px;
    margin: 0 auto;
    padding: 40px 0 85px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003612}}
  .bottom_text-header {
    text-align: center;
    margin: 40px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003617}}
  .bottom_text-paragraph {
    margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003621}}
  .bottom_text-link {
    color: #c8427b;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003626}}
  .bottom_text-link:hover {
    text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003632}}
  .bottom_text-slider {
    width: 1280px;
    margin: 0 auto;
    padding: 100px 0 65px 0;
    display: grid;
    grid-template-columns: 640px 640px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003640}}
  .bottom_text-slider_box {
    margin: 0 18px 40px;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003645}}
  .bottom_text-slider_box_title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 900; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003651}}
  .bottom_text-slider_item {
    width: 192px;
    position: relative;
    border: 5px solid transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003655}}
    .bottom_text-slider_item a:focus {
      outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003660}}
  .bottom_text-slider_item:hover {
    border: 5px solid #c8427b; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003662}}
    .bottom_text-slider_item:hover .bottom_text-slider_details {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003667}}
  .bottom_text-slider_details {
    display: none;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #c8427b;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    padding: 2px 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003680}}
  .bottom_text-slider_prev {
    display: block !important;
    background-image: url("../assets/ic-arrow-slider-left-gray.svg");
    background-size: 15px 28px;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 30px;
    width: 30px !important;
    position: absolute;
    top: 45%;
    left: -20px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    border: none;
    outline: none;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003697}}
  .bottom_text-slider_next {
    display: block !important;
    background-image: url("../assets/ic-arrow-slider-right-gray.svg");
    background-size: 15px 28px;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 30px;
    width: 30px !important;
    position: absolute;
    top: 45%;
    right: -36px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    border: none;
    outline: none;
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003718}}
.page_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 36px 10px 40px 10px;
  background-color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003724}}
  .page_container-product {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003730}}
  .page_container-header {
    font-size: 34px;
    margin-bottom: 26px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003735}}
  .page_container-description {
    margin-right: 55px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003739}}
  .page_container-paragraph_container {
    max-width: 680px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003743}}
  .page_container-paragraph {
    margin: 8px 0;
    font-family: 'Ruda', sans-serif;
    font-size: 13px;
    font-weight: 900; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003754}}
.limiter {
  float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003757}}
  .limiter-list {
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003761}}
  .limiter-item {
    margin-right: 2px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 100%;
    padding: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003768}}
    .limiter-item a {
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: #c5c5c5;
      color: #fff;
      text-align: center;
      font-size: 10px;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003781}}
  .limiter-item:hover {
    border: 1px solid #c8427b; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003784}}
    .limiter-item:hover a {
      background-color: #c8427b; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003790}}
.selected {
  border: 1px solid #c8427b !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003793}}
  .selected a {
    background-color: #c8427b !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003800}}
.planer {
  padding-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003803}}
  .planer-header {
    font-size: 42px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003807}}
  .planer-paragraph {
    margin-bottom: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003814}}
.product {
  display: grid;
  grid-template-columns: 808px 450px;
  grid-column-gap: 21px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003814}}
    .product {
      grid-template-columns: auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003821}}
  .product-gallery_nav_container {
    position: relative;
    width: 765px;
    margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003826}}
  .product-gallery {
    max-width: 808px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003830}}
  .product-gallery_main_image {
    border: 5px solid #dee2ec;
    max-height: 500px;
    cursor: -webkit-grab;
    cursor: grab; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003835}}
    .product-gallery_main_image img {
      width: 100%;
      max-height: 490px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003842}}
  .product-gallery_thumbnail {
    padding: 30px 30px 30px 0;
    cursor: -webkit-grab;
    cursor: grab; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003845}}
    .product-gallery_thumbnail img {
      border: 1px solid #dee2eb; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003850}}
  .product-description {
    padding: 45px 39px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003854}}
  .product-description_content {
    padding: 0 39px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003858}}
  .product-price {
    margin-top: 127px;
    margin-bottom: 44px;
    padding-left: 100px;
    width: auto;
    background-color: #c8427b;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003867}}
  .product-price:before {
    content: '';
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-image: url(../assets/ic-cart-pink.svg);
    background-color: #dee2ec;
    background-position-y: 21px;
    background-position-x: 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003882}}
  .product-price_container {
    padding: 20px 39px 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003886}}
  .product-old_price {
    margin-bottom: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003894}}
  .product-new_price {
    font-size: 28px;
    font-weight: 800;
    font-family: 'Ruda', sans-serif;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003901}}
  .product-button {
    padding: 7px 5px;
    border: none;
    background-color: #dee2eb;
    cursor: pointer;
    margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003909}}
  .product-button:hover {
    background-color: #f4f4f4; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003913}}
  .product-button_link {
    padding: 3px 39px;
    line-height: 1.4;
    border: 1px solid #f4f4f4;
    color: #1e3043;
    font-family: Cabin, sans-serif;
    font-size: 20px;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003923}}
  .product-delivery_time {
    color: #fff;
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003928}}
  .product-details_container {
    width: 808px;
    border-left: 1px solid #dee2eb;
    border-right: 1px solid #dee2eb;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 340px 340px;
    grid-column-gap: 45px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003938}}
  .product-pink_headline {
    background-color: #c8427b;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    font-family: 'Ruda', sans-serif;
    padding: 9px 20px 7px;
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003948}}
  .product-table {
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003953}}
    .product-table td {
      color: #1e3043;
      border-bottom: 1px solid #dee2ec;
      padding-top: 5px;
      padding-bottom: 3px;
      padding-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003962}}
  .product-table_content {
    width: 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003966}}
  .product-details_box {
    margin-top: 35px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003971}}
  .product-details_paragraph {
    margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003975}}
  .product-planer_box {
    width: 100%;
    padding: 20px;
    background-color: #eef3f9;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003984}}
  .product-video_container {
    width: 800px;
    padding: 0 39px;
    margin: 40px 0 70px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003990}}
  .product-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 5px solid #dee2ec;
    background: #dee2ec; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\00003998}}
footer {
  background-image: url("../assets/footer-bck.jpg");
  background-size: cover; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000031004}}
.footer-container {
  max-width: 1260px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 76px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000031011}}
.footer-logo {
  margin: 35px 90px 0 0;
  vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000031016}}
.footer-list {
  display: inline-block;
  list-style: none;
  min-width: 180px;
  padding-right: 35px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000031022}}
  .footer-list li {
    line-height: 1.2;
    margin: 0 0 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000031028}}
.footer-social_container {
  float: right;
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000031033}}
.footer-social {
  display: inline-block;
  margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000031038}}
.footer-social:hover {
  opacity: 0.8; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000031042}}
.footer-social_fb {
  background-image: url("../assets/ic-facebook.svg");
  background-repeat: no-repeat;
  width: 38px;
  height: 38px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000031049}}
.footer-social_in {
  background-image: url("../assets/ic-instagram.svg");
  background-repeat: no-repeat;
  width: 38px;
  height: 38px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/Outdoor\%20Lounge\/src\/main\.scss}line{font-family:\000031056}}
.footer-social_yt {
  background-image: url("../assets/ic-youtube.svg");
  background-repeat: no-repeat;
  width: 38px;
  height: 38px; }

/*# sourceMappingURL=main.css.map */