* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$break-mobile: 600px;

body {
  background-image: url("../assets/cloud-bck.jpg");
  background-repeat: no-repeat;
  color: #3b3628;
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  font-size: 14px;
  @media only screen and (max-width: $break-mobile) {
    padding: 0 20px 0 20px;
  }
}

img {
  height: auto;
  max-width: 100%;
}


//Pagination

#pagin {
  margin: 0 auto;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 100%;
    padding: 8px;

    a {
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: #c5c5c5;
      color: #fff;
      text-align: center;
      font-size: 10px;
      text-decoration: none;
    }
  }

  li:hover {
    border: 1px solid #c8427b;

    a {
      background-color: #c8427b;
    }
  }
}


// Header


h1 {
  font-size: 42px;
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
  line-height: 1.1;
  color: #1e3043;

  span {
    font-size: 42px;
    margin-bottom: 30px;
    font-weight: 700;
  }
}

h2 {
  color: #1e3043;
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
  line-height: 1.1;
  font-size: 34px;

  span {
    font-size: 26px;
    margin: 10px 0;
    line-height: 15px;
  }
}

h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #1e3043;
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 15px;

  span {
    font-weight: 600;
    line-height: 1.1;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

p {
  margin-bottom: 15px;
}

// Advantage container

.advantage {
  display: grid;
  grid-template-columns: 170px 170px;
  grid-gap: 30px;

  &-container {
    margin: 40px 0;
  }

  &-item {
    display: inline-flex;
    position: relative;
    //display: grid;
    //grid-template-columns: 43px auto;
    //grid-column-gap: 10px;
  }

  &-paragraph {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translateY(-50%);
    line-height: 1.2;
    margin-bottom: 0;
    font-size: 12px;
  }
}

// Link
.link-white {
  color: #fff;
  text-decoration: none;
}

.link-white:hover {
  text-decoration: underline;
}

.pink-link {
  color: #c8427b;
  text-decoration: none;
}

.pink-link:hover {
  text-decoration: underline;
}

.blue_link {
  color: #1e3043;
  text-decoration: none;
}

.blue_link:hover {
  text-decoration: underline;
}


// Header

.header {
  height: 140px;

  &-main_navigation_container {
    width: 1280px;
    position: relative;
    margin: 0 auto;
    padding: 50px 0 17px 0;
    display: flex;
    list-style: none;
  }

  &-main_navigation {
    display: flex;
    list-style: none;
    margin: 11px 0 10px 36px;
  }

  &-main_navigation_item {
    margin: 0 5px;
    padding: 0 5px;
  }

  &-main_navigation_item:hover {
    margin-top: -20px;
    transition: 0.3s;
    z-index: 1;
  }

  &-main_navigation_item:hover .header-main_navigation_description {
    opacity: 0.5;
  }

  &-main_navigation_item:hover .header-item_navigation_container {
    display: block;
    position: absolute;
  }

  &-main_navigation_link {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
  }

  &-main_navigation_description {
    opacity: 0;
    display: block;
    text-decoration: none;
    font-size: 11px;
    line-height: 1.4;
    color: #fff;
  }

  &-logo {
    img {
      width: 200px;
    }
  }

  &-right {
    padding-top: 9px;
    display: flex;
    position: absolute;
    right: 0;
  }

  &-phone {
    background-image: url("../assets/ic-phone.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-size: 18px;
  }

  &-search {
    background-image: url("../assets/ic-search.svg");
    background-repeat: no-repeat;
    width: 18px;
    margin-left: 25px;
    height: 18px;
    background-size: 18px;
  }

  &-login {
    background-image: url("../assets/ic-login.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    margin-left: 25px;
    width: 20px;
    height: 20px;
  }

  &-cart {
    background-image: url("../assets/ic-cart.svg");
    background-repeat: no-repeat;
    background-size: 23px 19px;
    margin-left: 25px;
    width: 23px;
    height: 22px;
  }

  &-item_navigation_container {
    display: none;
  }

  &-item_navigation_container:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 15px;
    border-style: solid;
    border-width: 0 12px 13px 12px;
    border-color: transparent transparent #fff transparent;
  }

  &-item_navigation_content {
    display: flex;
    background-color: #fff;
    margin-top: 28px;
  }

  &-item_navigation {
    height: auto;
    list-style: none;
    border-right: 1px solid #dee2ec;

    li {
      width: 270px;
      border-bottom: 1px solid #dee2ec;
      padding: 10px 30px;

      a {
        text-decoration: none;
        color: #3b3628;
        font-size: 16px;
        line-height: 30px;
      }
    }

    li:hover {
      background: #c8427b;

      a {
        color: #fff;
      }
    }
  }

  &-item_navigation_box {
    display: flex;
    padding: 25px 60px 25px 20px;
  }

  &-item_navigation_content_box {
    margin: 10px;
    width: 240px;
  }

  &-box_item_link {
    display: block;
    min-height: 50px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d8d8d8;

    a {
      color: #1e3043;
      font-family: 'Ruda', sans-serif;
      font-weight: 700;
      font-size: 14px;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &-box_more_link {
    font-size: 10px;
  }
}

.last {
  border-bottom: none !important;
}

// Slider container

.slider {
  width: 1240px;
  margin: 0 auto;

  &-box {
    width: 1240px;
    margin: 0 auto;
    position: relative;
  }

  &-box:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(191.87deg, rgba(0, 0, 0, 0) 50%, #000 100%);
  }

  &-image {
    display: block;
  }

  &-box_description {
    display: table;
    position: absolute;
    bottom: 10px;
    height: 80px;
  }

  &-box_header {
    padding-left: 205px;
    line-height: 0.9;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.42);
  }

  &-description_link {
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 26px;
    max-width: 1200px;
  }

  &-box_button {
    position: absolute;
    top: 25px;
    left: 30px;
  }

  &-link_button {
    color: #fff;
    background-color: #c8427b;
    outline: 7px solid #c8427b;
    border: 1px solid #d55f91;
    padding: 10px 50px;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    font-weight: 500;
  }
}

// Video container

.video {
  width: 1240px;
  margin: 50px auto;
  display: flex;

  &-description {
    max-width: 560px;
    margin-left: 15px;
  }

  &-header {
    margin: 20px 0;
  }

  &-header_link {
    color: #1e3043;
    text-decoration: none;
    font-size: 42px;
  }

  &-paragraph_link {
    color: #1e3043;
    text-decoration: none;
  }

  &-paragraph {
    font-size: 18px;
    color: #8c756a;
    line-height: 1.9;
  }

  &-paragraph_link:hover {
    text-decoration: underline;
  }
}


// Images and text

.products_box {
  margin-bottom: 100px;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-header {
    margin-bottom: 30px;
  }

  &-box_images {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
  }

  &-link_container {
    display: flex;
    justify-content: space-between;
  }

  &-link {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c8427b;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
  }

  &-link:hover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: #c8427b;
  }

  &-paragraph {
    font-size: 16px;

    span {
      font-family: 'Ruda', sans-serif;
      font-size: 13px;
      font-weight: 900;
    }
  }

  &-box_1 {
    width: 480px;
  }

  &-box_2 {
    width: 750px;
  }
}

.product-link {
  width: 140px;
  margin-right: 15px;
  background-color: #c8427b;
}


// Product

.product_container {
  margin: 90px 0 40px 0;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 17px;

  &-pagin {
    text-align: center;
  }

  &-product {
    width: 300px;
    border: 1px solid transparent;
    background-color: #f4f4f4;
  }

  &-description {
    margin: 4px 10px 20px 10px;
  }

  &-product:hover {
    border: 1px solid #1e3043;
    background-color: #dee2eb;
  }

  &-image {
    width: 100%;
  }

  &-link_container {
    display: block;
    min-height: 44px;
  }

  &-link {
    margin-top: 5px;
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.2;
  }

  &-paragraph {
    min-height: 61px;
    margin: 5px 0;
    padding-bottom: 6px;
    color: #687584;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid #dee2eb;
  }

}

// Bottom text

.bottom_text {
  background-image: url("../assets/oval-graphic.svg");
  background-position: center top;

  &-container {
    max-width: 940px;
    margin: 0 auto;
    padding: 40px 0 85px;
  }

  &-header {
    text-align: center;
    margin: 40px 0;
  }

  &-paragraph {
    margin-bottom: 15px;
  }

  &-link {
    color: #c8427b;
    text-decoration: none;
  }

  &-link:hover {
    text-decoration: underline;
  }

  // Slider

  &-slider {
    width: 1280px;
    margin: 0 auto;
    padding: 100px 0 65px 0;
    display: grid;
    grid-template-columns: 640px 640px;
  }

  &-slider_box {
    margin: 0 18px 40px;
    position: relative;
  }

  &-slider_box_title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 900;
  }

  &-slider_item {
    width: 192px;
    position: relative;
    border: 5px solid transparent;
    a:focus {
      outline: none;
    }
  }

  &-slider_item:hover {
    border: 5px solid #c8427b;
    .bottom_text-slider_details {
      display: block;
    }
  }

  &-slider_details {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #c8427b;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    padding: 2px 25px;
  }

  &-slider_prev {
    display: block !important;
    background-image: url("../assets/ic-arrow-slider-left-gray.svg");
    background-size: 15px 28px;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 30px;
    width: 30px !important;
    position: absolute;
    top: 45%;
    left: -20px;
    transform: translate(0, -50%);
    border: none;
    outline: none;
    cursor: pointer;
  }

  &-slider_next {
    display: block !important;
    background-image: url("../assets/ic-arrow-slider-right-gray.svg");
    background-size: 15px 28px;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 30px;
    width: 30px !important;
    position: absolute;
    top: 45%;
    right: -36px;
    transform: translate(0, -50%);
    border: none;
    outline: none;
    cursor: pointer;
  }

}

// Page container

.page_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 36px 10px 40px 10px;
  background-color: #fff;

  &-product {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #fff;
  }

  &-header {
    font-size: 34px;
    margin-bottom: 26px;
  }

  &-description {
    margin-right: 55px;
  }

  &-paragraph_container {
    max-width: 680px;
  }

  &-paragraph {
    margin: 8px 0;
    font-family: 'Ruda', sans-serif;
    font-size: 13px;
    font-weight: 900;
  }
}


// Limiter

.limiter {
  float: right;

  &-list {
    list-style: none;
  }

  &-item {
    margin-right: 2px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 100%;
    padding: 8px;

    a {
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: #c5c5c5;
      color: #fff;
      text-align: center;
      font-size: 10px;
      text-decoration: none;
    }
  }

  &-item:hover {
    border: 1px solid #c8427b;

    a {
      background-color: #c8427b;
    }
  }
}

.selected {
  border: 1px solid #c8427b !important;

  a {
    background-color: #c8427b !important;
  }
}

// Planer

.planer {
  padding-bottom: 40px;

  &-header {
    font-size: 42px;
  }

  &-paragraph {
    margin-bottom: 15px;
  }
}

// Product gallery slider

.product {
  display: grid;
  grid-template-columns: 808px 450px;
  grid-column-gap: 21px;
  @media only screen and (max-width: $break-mobile) {
    grid-template-columns: auto;
  }
  &-gallery_nav_container {
    position: relative;
    width: 765px;
    margin: auto;
  }
  &-gallery {
    max-width: 808px;
  }

  &-gallery_main_image {
    border: 5px solid #dee2ec;
    max-height: 500px;
    cursor: grab;

    img {
      width: 100%;
      max-height: 490px;

    }
  }

  &-gallery_thumbnail {
    padding: 30px 30px 30px 0;
    cursor: grab;
    img {
      border: 1px solid #dee2eb;
    }
  }

  &-description {
    padding: 45px 39px;
  }

  &-description_content {
    padding: 0 39px;
  }

  &-price {
    margin-top: 127px;
    margin-bottom: 44px;
    padding-left: 100px;
    width: auto;
    background-color: #c8427b;
    position: relative;
  }

  &-price:before {
    content: '';
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-image: url(../assets/ic-cart-pink.svg);
    background-color: #dee2ec;
    background-position-y: 21px;
    background-position-x: 17px;
  }

  &-price_container {
    padding: 20px 39px 20px 0;
  }

  &-old_price {
    margin-bottom: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
  }

  &-new_price {
    font-size: 28px;
    font-weight: 800;
    font-family: 'Ruda', sans-serif;
    color: #fff;
  }

  &-button {
    padding: 7px 5px;
    border: none;
    background-color: #dee2eb;
    cursor: pointer;
    margin-bottom: 15px;
  }

  &-button:hover {
    background-color: #f4f4f4;
  }

  &-button_link {
    padding: 3px 39px;
    line-height: 1.4;
    border: 1px solid #f4f4f4;
    color: #1e3043;
    font-family: Cabin, sans-serif;
    font-size: 20px;
    text-decoration: none;
  }

  &-delivery_time {
    color: #fff;
    margin-bottom: 0;
  }

  &-details_container {
    width: 808px;
    border-left: 1px solid #dee2eb;
    border-right: 1px solid #dee2eb;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 340px 340px;
    grid-column-gap: 45px;
  }

  &-pink_headline {
    background-color: #c8427b;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    font-family: 'Ruda', sans-serif;
    padding: 9px 20px 7px;
    margin-bottom: 0;
  }

  &-table {
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 100%;

    td {
      color: #1e3043;
      border-bottom: 1px solid #dee2ec;
      padding-top: 5px;
      padding-bottom: 3px;
      padding-left: 20px;
    }
  }

  &-table_content {
    width: 150px;
  }

  &-details_box {
    margin-top: 35px;
  }


  &-details_paragraph {
    margin-top: 10px;
  }

  &-planer_box {
    width: 100%;
    padding: 20px;
    background-color: #eef3f9;
    text-align: center;
  }

  // Video container

  &-video_container {
    width: 800px;
    padding: 0 39px;
    margin: 40px 0 70px 0;
  }

  &-video {
    display: flex;
    border: 5px solid #dee2ec;
    background: #dee2ec;
  }
}
// Footer

footer {
  background-image: url("../assets/footer-bck.jpg");
  background-size: cover;
}

.footer {
  &-container {
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 76px;
  }

  &-logo {
    margin: 35px 90px 0 0;
    vertical-align: top;
  }

  &-list {
    display: inline-block;
    list-style: none;
    min-width: 180px;
    padding-right: 35px;

    li {
      line-height: 1.2;
      margin: 0 0 8px;
    }
  }

  &-social_container {
    float: right;
    display: inline-block;
  }

  &-social {
    display: inline-block;
    margin-left: 10px;
  }

  &-social:hover {
    opacity: 0.8;
  }

  &-social_fb {
    background-image: url("../assets/ic-facebook.svg");
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
  }

  &-social_in {
    background-image: url("../assets/ic-instagram.svg");
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
  }

  &-social_yt {
    background-image: url("../assets/ic-youtube.svg");
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
  }
}